#title {
  color: #ffffff;
  font-size: 140px;
  font-weight: 80;
  font-family: 'Verdana, sans-serif';
}

.nav-bar {
  width: 100%;
  background-repeat: no-repeat;
  background-color: #ff4500;
  font-size: 20px;
  height: 180px;
  letter-spacing: 1px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 14px;
}