#title {
  color: #ffffff;
  font-size: 140px;
  font-weight: 80;
  font-family: 'Verdana, sans-serif';
}

.nav-bar {
  width: 100%;
  background-repeat: no-repeat;
  background-color: #ff4500;
  font-size: 20px;
  height: 180px;
  letter-spacing: 1px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 14px;
}

#main-container {
  display: flex;
  flex-direction: row;
  width: 100%;
}

/* Posts Section */

#posts-container {
  width: 80%;
  padding-top: 10px;
  margin-left: 20px;
  border-radius: 8px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  height: auto;
}

.post-card {
  display: flex;
  background-color: #f0f0f0;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 30%;
  height: auto;
  margin: 15px;
  padding-top: 10px;
  border-radius: 10px;
  border: solid 0.5px black;
  cursor: pointer;
}

.post-title {
  font-size: 1.5em;
}

.author-text {
  font-size: .9em;
}

.image-item {
  width: 90%;
  height: auto;
  max-height: 250px;
  padding-bottom: 4px;
  border-radius: 12px;
}

#comments-and-score-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left: 20px;
  margin-right: 20px;
  width: 100%;
}

.comments-and-score-text {
  font-size: 1em;
  padding-top: 15px;
}

.comments-and-score-images {
  width: 12%;
  height: 25px;
  margin-right: 8px; 
}

#comments-container {
  display: flex;
  flex-direction: row;
  width: 50%;
  justify-content: center;
  align-items: center;
}

#score-container {
  display: flex;
  flex-direction: row;
  width: 50%;
  justify-content: center;
  align-items: center;
}

/* Subreddits Section */

#subreddits-container {
  background-color: #1DA1F2;
  width: 15%;
  height: 620px;
  padding-top: 10px;
  margin-left: 30px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#subreddits-title {
  color: #ffffff;
  margin-bottom: 20px;
}

#subreddits-list {
  display: flex;
  flex-direction: column;
  align-items: space-around;
  width: 60%;
  height: auto;
}

.subreddit-button {
  margin-bottom: 15px;
}

/* Individual Subreddit Buttons */

#art-button{
  background-color: red;
  color: white;
}
#art-button:hover{
  background-color: white;
  color: black;
}

#pixelart-button{
  background-color: orange;
  color: white;
}
#pixelart-button:hover{
  background-color: white;
  color: black;
}

#watercolor-button{
  background-color: yellow;
  color: black;
}
#watercolor-button:hover{
  background-color: white;
  color: black;
}

#analog-button{
  background-color: green;
  color: white;
}
#analog-button:hover{
  background-color: white;
  color: black;
}

#graffiti-button{
  background-color: turquoise;
  color: white;
}
#graffiti-button:hover{
  background-color: white;
  color: black;
}

#sculpture-button{
  background-color: blue;
  color: white;
}
#sculpture-button:hover{
  background-color: white;
  color: black;
}

#oilpainting-button{
  background-color: navy;
  color: white;
}
#oilpainting-button:hover{
  background-color: white;
  color: black;
}

#drawing-button{
  background-color: purple;
  color: white;
}
#drawing-button:hover{
  background-color: white;
  color: black;
}

#conceptart-button{
  background-color: pink;
  color: black;
}
#conceptart-button:hover{
  background-color: white;
  color: black;
}

#sketches-button{
  background-color: gold;
  color: white;
}
#sketches-button:hover{
  background-color: white;
  color: black;
}