#title {
  color: #ffffff;
  font-size: 140px;
  font-weight: 80;
  font-family: 'Verdana, sans-serif';
}

.nav-bar {
  width: 100%;
  background-repeat: no-repeat;
  background-color: #ff4500;
  font-size: 20px;
  height: 180px;
  letter-spacing: 1px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 14px;
}

#main-container {
  display: flex;
  flex-direction: row;
  width: 100%;
}

#posts-container {
  width: 80%;
  background-color: #f0f0f0;
  padding-top: 10px;
  margin-left: 20px;
  border-radius: 8px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  height: auto;
}

#subreddits-container {
  background-color: gray;
  width: 15%;
  height: 400px;
  padding-top: 10px;
  margin-left: 30px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#subreddits-list {
  display: flex;
  flex-direction: column;
}

.post-card {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 30%;
  background-color: gray;
  margin: 15px;
  padding-top: 10px;
  border-radius: 5px;
  cursor: pointer;
}

.post-title {
  font-size: 1.5em;
}

.author-text {
  font-size: .9em;
}

.comments-and-score-text {
  font-size: 1em;
}

.image-item {
  width: 90%;
  height: auto;
  max-height: 250px;
  padding-bottom: 4px;
  border-radius: 12px;
}

#comments-and-upvotes-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}